<% events.each do |event| %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">   Artist <%=  event.artist%></h3>
    </div>
    <div class="panel-body">

     <br>
     Where <%= event.venue %>
     <br>
     When <%= event.datetime %>
     <br>
     What <%= event.description %>

   </div>
  </div>
<% end %>