<%= form_tag search_path, method: :get do %>
  <h3>Search for your favorite artist's events near you!</h3>
  <%= search_field_tag :address, nil,
  placeholder: "Enter Location"%>
  <%= search_field_tag :artist, nil,
  placeholder: "Enter Artist" %>

  <%= submit_tag "Submit", class: "btn btn-default" %>
<% end %>