
<div class="row col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-3">
  <div class="navbar-form navbar-left" role="search" >

    <%= form_tag search_path, method: :get do %>
    <%= search_field_tag :address, nil,
    placeholder: "Enter Location", class: "form-control"%>
    <%= search_field_tag :artist, nil,
    placeholder: "Enter Artist", class: "form-control" %>

    <%= submit_tag "Submit", class: "btn btn-success" %>
    <% end %>

  </div>
</div>